<div class="dashboard h-[100vh] bg-[#F7F7F7] flex space-grotesk font-medium overflow-hidden">
  <!-- Sidebar -->
  <div class="sidebar w-[20%] bg-white p-14 relative h-[100vh] overflow-hidden">
    <div class="logo w-3/5 mb-5 pl-4">
      <img src="assets/images/logo-dark.svg" alt="">
    </div>
    <!-- Menu -->
    <div class="menu w-full ">
      <button (click)='stateControl.selectScreen("products")' [ngClass]="{'bg-white invert-[1]': stateControl.selectedScreen == 'products'}"
        class="flex items-center w-full mt-4 rounded-xl hover:bg-white hover:invert-[1]  p-4">
        <img class="w-[30px] mr-4" src="assets/images/product.svg" alt="">
        <h3 class='mb-0 font-bold'>Produtos</h3>
      </button>
      <button (click)='stateControl.selectScreen("sales")' [ngClass]="{'bg-white invert-[1]': stateControl.selectedScreen == 'sales'}"
        class="flex items-center w-full mt-4 rounded-xl hover:bg-white hover:invert-[1] p-4">
        <img class="w-[30px] mr-4" src="assets/images/sales.svg" alt="">
        <h3 class='mb-0 font-bold'>Vendas</h3>
      </button>
    </div>
    <!-- Caixa de mensagem -->
    <div [ngClass]="{'bottom-[-80px]': stateControl.messageState == false}"
      class="absolute transition-all ease-in-out left-0 bottom-0 w-full duration-200">
      <div class="bg-black w-[90%] mx-auto mb-4 rounded-lg p-4">
        <h2 class="text-white" [innerText]="stateControl.popMessage"></h2>
      </div>
    </div>
  </div>
  <!-- Sessão conteudo -->
  <div class="content w-[80%] p-14 overflow-y-scroll">
    <!-- Tela de produtos -->
    <ng-container *ngIf="stateControl.selectedScreen == 'products'">
      <app-product-screen  (onSaveOnDatabase)="onSaveProduct($event)" [products]="productsClean" [productTypes]="productTypes" [productsClean]="productsClean"></app-product-screen>
    </ng-container>
    <!-- Tela de vendas -->
    <ng-container *ngIf="stateControl.selectedScreen == 'sales'">
      <app-sales-screen [products]="productsClean" [productTypes]="productTypes"></app-sales-screen>
    </ng-container>
  </div>
</div>
