<div class="dashboard h-[100vh] bg-[#F7F7F7] flex ">
  <div class="sidebar w-[20%] bg-white p-14">
    <div class="logo w-3/5 mb-5 pl-4">
      <img src="assets/images/logo-dark.svg" alt="">
    </div>

    <div class="menu w-full">
      <button (click)='selectScreen("products")' [ngClass]="{'bg-white invert-[1]': selectedScreen == 'products'}"
        class="flex items-center w-full mt-4 rounded-xl hover:bg-white hover:invert-[1]  p-4">
        <img class="w-[30px] mr-4" src="assets/images/product.svg" alt="">
        <h3 class='mb-0'>Produtos</h3>
      </button>
      <button (click)='selectScreen("sales")' [ngClass]="{'bg-white invert-[1]': selectedScreen == 'sales'}"
        class="flex items-center w-full mt-4 rounded-xl hover:bg-white hover:invert-[1] p-4">
        <img class="w-[30px] mr-4" src="assets/images/sales.svg" alt="">
        <h3 class='mb-0'>Vendas</h3>
      </button>
    </div>
  </div>
  <div class="content w-[80%] p-14 overflow-y-scroll">
    <div *ngIf="selectedScreen == 'products'" class="content-products show">
      <div class="product-head flex items-end justify-between">
        <div class="mb-5">
          <h1 class="text-3xl">Bem Vindo, Cliente</h1>
          <p class="text-xl">Esses são nossos produtos atuais</p>
        </div>
        <div class="mr-3 flex items-end gap-x-4">
          <button [ngClass]="{'!bg-black': productAddState == true,'!text-white': productAddState == true}" class="bg-transparent text-lg rounded-xl rounded-b-none border-black border-2 border-b-0 hover:bg-black hover:text-white hover:rounded-b-none p-4 py-2" (click)="changeProductAddState()">+ Produtos</button>
          <button [ngClass]="{'!bg-black': categoryAddState == true,'!text-white': categoryAddState == true}" class="bg-transparent text-lg rounded-xl rounded-b-none border-black border-2 border-b-0 hover:bg-black hover:text-white hover:rounded-b-none p-4 py-2" (click)="changeCategoryAddState()"> + Categorias</button>
        </div>
      </div>
      <div *ngIf="productAddState == true" class="productAdd">
        <div class="bg-black text-white flex items-center justify-between p-4 rounded-xl">
          <p class="">Adicionar produto</p>
          <form class="flex items-center gap-8" [formGroup]="productForm" (ngSubmit)="onProductSubmit()">

            <input class="bg-white text-black px-7 py-1 rounded-xl" type="text" id="name" formControlName="name" placeholder="Nome do produto">

            <input class="bg-white text-black px-7 py-1 rounded-xl" type="number" id="price" formControlName="price" placeholder="Preço do produto" min="0">

            <select class="bg-white text-black px-7 py-1 rounded-xl" formControlName="type_id">
              <option class="" value="" selected>Selecione a categoria</option>
              <option *ngFor="let type of productTypes" [value]="type.id">{{ type.name }}</option>
            </select>

            <button class="bg-white text-black px-7 py-1 rounded-xl disabled:opacity-50" type="submit" [disabled]="productForm.invalid">Submit</button>
          </form>
        </div>
      </div>
      <div *ngIf="categoryAddState == true" class="categoryAdd">
        <div class="bg-black text-white flex items-center justify-between p-4 rounded-xl">
          <p class="">Adicionar categoria</p>
          <form class="flex items-center gap-8" [formGroup]="typeDataForm" (ngSubmit)="onTypeDataSubmit()">
          
              <input class="bg-white text-black px-7 py-1 rounded-xl" type="text" id="name" formControlName="name" placeholder="Nome do produto">
            
              <input class="bg-white text-black px-7 py-1 rounded-xl" type="number" id="tax_rate" formControlName="tax_rate" max="100" placeholder="Taxa sob o produto">
            
            <button class="bg-white text-black px-7 py-1 rounded-xl disabled:opacity-50" type="submit" [disabled]="typeDataForm.invalid">Submit</button>
          </form>
        </div>
      </div>

      <div class="product-items relative">
        <div class="container mx-auto py-6 pb-[100px]">

          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Item
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Categoria
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Preço
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    imposto sob o produto
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Quantidade
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Valor do imposto
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Total
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let item of productsClean" class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm font-medium text-gray-900">
                      {{item['name']}}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">{{item['product_type']}}</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">${{item['price']}}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">{{item['tax_rate']}}%</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">
                      <div class="">
                        <button (click)="counter('-', item['id'])"
                          class="bg-[#f7f4f4] w-[25px] h-[25px] rounded-lg shadow-sm text-bold mr-1 hover:bg-black hover:text-white">-</button>
                        {{item['quantity']}}
                        <button
                          class="bg-[#f7f4f4] w-[25px] h-[25px] rounded-lg shadow-sm text-bold ml-1 hover:bg-black hover:text-white"
                          (click)="counter('+', item['id'])">+</button>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">$
                      {{(+item['tax_value']) * (+item['quantity'])}}
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">$
                      {{item.total_value}}
                    </div>
                  </td>
                </tr>


              </tbody>
            </table>

            <div
              class="w-[80%] bg-black px-10 py-5 fixed bottom-0 right-0 text-white flex items-center justify-end rounded-t-3xl">
              <h1 class="mx-10 text-xl">Imposto total: ${{totalTaxValue}}</h1>
              <h1 class="mx-10 text-xl">Total: ${{totalValue}}</h1>
              <button  (click)="onSaleSubmit()" class="bg-white text-black px-7 py-2 text-xl rounded-xl">Comprar</button>
            </div>

          </div>

        </div>

      </div>

    </div>
    <div *ngIf="selectedScreen == 'sales'" class="content-sales">
      <div class="product-head flex items-end justify-between">
        <div class="mb-5">
          <h1 class="text-3xl">Bem Vindo, Administrador</h1>
          <p class="text-xl">Essas foram as suas vendas</p>
        </div>
       
      </div>
      <div class="grid grid-cols-3 gap-8">
        <div class="bg-black rounded-xl shadow-xl aspect-video"> </div>
        <div class="bg-black rounded-xl shadow-xl aspect-video"> </div>
        <div class="bg-black rounded-xl shadow-xl aspect-video"> </div>
      </div>
    </div>
  </div>
</div>